// FORMS ARE SUPER IMPORTANT! SERIOUSLY YOU GUYS!!
form {
	position: relative;
}
textarea, input, select { 
	outline: none;
}
input[type=text], input[type=phone], input[type=email], input[type=password] {
	height: rem-me($input-height);
	width: 100%;
	background: $input-bg;
	border:1px solid $input-border-color;
	padding: $input-height / 5px * 1px;
	font-size:do-math-divide($input-height,3);
	color:$input-font-color;
	@include transition;
    position:relative;
	&:focus {
		background: $input-focus-bg;
		border:1px solid $input-border-focus-color;
	}
}
label {
	font-size: $label-font-size;
	font-family: $body-copy-font-family;
	color: $label-font-color;
	margin-bottom: .5em;
	display: block;
    position: absolute;
    top:2rem;
    z-index: 100;
    left:1rem;
    @include transition;
    &.focus {
        top:1rem;
        font-size: 10px;
    }
}
// radios and checkboxes are special
input[type=radio] + label, input[type=checkbox] + label {
	display: inline-block;
	margin-left: rem-me(5);
    position: relative;
    top:0;
    left:0;
}

select {
	-webkit-appearance: none !important;
	border-radius: 0;
	background-color: $input-bg;
	// swap out for cheveron, somehow...
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
	background-position: 100% center;
	background-repeat: no-repeat;
	border: 1px solid $input-border-color;
	padding: $input-height / 5px * 1px;
	font-size:do-math-divide($input-height,3);
	font-family: $body-copy;
	color: $input-font-color;
	height: rem-me($input-height);
	margin:0;
	width: 100%;
}
button {
	border:none;
}

// placeholders cna do stuff too
::-webkit-input-placeholder {
	font-size: do-math-divide($input-height,3);
	color: $input-placeholder-color;
	text-align: $input-placeholder-text-align;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: do-math-divide($input-height,3);
	color: $input-placeholder-color;
	text-align: $input-placeholder-text-align;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-size: do-math-divide($input-height,3);
	color: $input-placeholder-color;
	text-align: $input-placeholder-text-align;
}

:-ms-input-placeholder {  
	font-size: do-math-divide($input-height,3);
	color: $input-placeholder-color;
	text-align: $input-placeholder-text-align;
}

// Range Slider Badassness
.range-slider {
    margin-bottom: 1rem;
  // Slider
  .input-range {
    -webkit-appearance: none;
    width: 100%;
    height: $range-track-height;
    border-radius: 5px;
    background: $range-default-track-bg;
    outline: none;    
    // Slider Handle
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: $range-handle-width;
      height: $range-handle-height;
      border-radius: $range-handle-border-radius;
      background: $range-handle-color;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out;
      
      &:hover {
        background: $range-handle-color-active;
      }
    }
    
    &:active::-webkit-slider-thumb {
      background: $range-handle-color-active;
    }
    
    &::-moz-range-thumb {
      width:$range-handle-width;
      height: $range-handle-height;
      border: 0;
      border-radius: $range-handle-border-radius;
      background: $range-handle-color;
      cursor: pointer;
      -webkit-transition: background .15s ease-in-out;
      transition: background .15s ease-in-out;
      
      &:hover {
        background: $range-handle-color-active;
      }
    }
    
    &:active::-moz-range-thumb {
      background: $range-handle-color;
    }
  }
  
  // Tooltip Tag
  output {
    display: inline-block;
    position: relative;
	text-align: center;
    width: $range-output-width;
    color: $range-output-color;
    font-size: $range-output-size;
    line-height: 20px;
    border-radius: $range-output-border-radius;
    background: $range-output-bg;
    padding: 5px 10px;
    font-family: $sans-serif;
//    &:before {
//      position: absolute;
//      top: 8px;
//      right: -7px;
//      width: 0;
//      height: 0;
//      border-top: 7px solid transparent;
//      border-left: 7px solid #353535;
//      border-bottom: 7px solid transparent;
//      content: '';
//    }
  }
}

// Firefox Overrides
::-moz-range-track {
    background: $range-default-track-bg;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}