// the section element is the new row
.grid {
	width:100%;
	max-width: $large-breakpoint;
	margin:0 auto;
	display: table;
	clear:both;
	& .grid	:first-child {
		padding-left:0;
	}
	& .grid .clm {
		padding-left:0;
	}
}

// column things
.clm {
	position: relative;
	padding: gutter-maker($gutter);
	float:left;
}
.clm.center {
	position: relative;
	padding-right: gutter-maker($gutter);
	padding-left: gutter-maker($gutter);
	padding-bottom: $gutter;
	float:none;
	clear:both;
	margin:0 auto;
}

// here's the grid in all of it's gridy-ness
// small settings
.s-25 {
	width: grid-calc(3);
}
.s-33 {
	width: grid-calc(4);
}
.s-50 {
	width: grid-calc(6);
}
.s-66 {
	width: grid-calc(8);
}
.s-75 {
	width: grid-calc(9);
}
.s-100 {
	width: grid-calc(12);
}
// medium settings
.m-25 {
	width: grid-calc(3);
}
.m-33 {
	width: grid-calc(4);
}
.m-50 {
	width: grid-calc(6);
}
.m-66 {
	width: grid-calc(8);
}
.m-75 {
	width: grid-calc(9);
}
.m-100 {
	width: grid-calc(12);
}
// large settings
.l-25 {
	width: grid-calc(3);
}
.l-33 {
	width: grid-calc(4);
}
.l-50 {
	width: grid-calc(6);
}
.l-66 {
	width: grid-calc(8);
}
.l-75 {
	width: grid-calc(9);
}
.l-100 {
	width: grid-calc(12);
}

// Block Grid
.block-grid {
	li {
		display:inline;
		padding: gutter-maker($gutter);
		float:left;
	}
	&.s-1 li, &.m-1 li, &.l-1 li {
		width: grid-calc(12);		
	}
	&.s-2 li, &.m-2 li, &.l-2 li {
		width: grid-calc(6);
	}
	&.s-3 li, &.m-3 li, &.l-3 li {
		width: grid-calc(4);
	}
	&.s-4 li, &.m-4 li, &.l-4 li {
		width: grid-calc(3);
	}
}

// large breakpoint
@media (min-width: $medium-breakpoint) {
	.l-clear {
		clear:left;
	}
	// Breakpoint Shuffle
	.l-pull-25 {
		position: relative;
		left: auto;
		right: grid-calc(3);
	}
	.l-pull-33 {
		position: relative;
		left: auto;
		right: grid-calc(4);
	}
	.l-pull-50 {
		position: relative;
		left: auto;
		right: grid-calc(6);
	}
	.l-pull-66 {
		position: relative;
		left: auto;
		right: grid-calc(8);
	}
	.l-pull-75 {
		position: relative;
		left: auto;
		right: grid-calc(9);
	}
	
	.l-push-25 {
		position: relative;
		right: auto;
		left: grid-calc(3);
	}
	.l-push-33 {
		position: relative;
		right: auto;
		left: grid-calc(4);
	}
	.l-push-50 {
		position: relative;
		right: auto;
		left: grid-calc(6);
	}
	.l-push-66 {
		position: relative;
		right: auto;
		left: grid-calc(8);
	}
	.l-push-75 {
		position: relative;
		right: auto;
		left: grid-calc(9);
	}
}

// medium breakpoint
@media (max-width: $medium-breakpoint) {
	.m-clear {
		clear:left;
	}
	.m-25 {
		width: grid-calc(3);
		position:static;
	}
	.m-33 {
		width: grid-calc(4);
		position:static;
	}
	.m-50 {
		width: grid-calc(6);
		position:static;
	}
	.m-66 {
		width: grid-calc(8);
		position:static;
	}
	.m-75 {
		width: grid-calc(9);
		position:static;
	}
	.m-100 {
		width: grid-calc(12);
		position:static;
	}
	
	.block-grid {
		&.m-1 li {
			width: grid-calc(12);		
		}
		&.m-2 li {
			width: grid-calc(6);
		}
		&.m-3 li {
			width: grid-calc(4);
		}
		&.m-4 li {
			width: grid-calc(3);
		}
	}
	// Breakpoint Shuffle
	.m-pull-25 {
		position: relative;
		left: auto;
		right: grid-calc(3);
	}
	.m-pull-33 {
		position: relative;
		left: auto;
		right: grid-calc(4);
	}
	.m-pull-50 {
		position: relative;
		left: auto;
		right: grid-calc(6);
	}
	.m-pull-66 {
		position: relative;
		left: auto;
		right: grid-calc(8);
	}
	.m-pull-75 {
		position: relative;
		left: auto;
		right: grid-calc(9);
	}
	
	.m-push-25 {
		position: relative;
		right: auto;
		left: grid-calc(3);
	}
	.m-push-33 {
		position: relative;
		right: auto;
		left: grid-calc(4);
	}
	.m-push-50 {
		position: relative;
		right: auto;
		left: grid-calc(6);
	}
	.m-push-66 {
		position: relative;
		right: auto;
		left: grid-calc(8);
	}
	.m-push-75 {
		position: relative;
		right: auto;
		left: grid-calc(9);
	}
}

// small breakpoint
@media (max-width: $small-breakpoint) {
	.s-clear {
		clear:left;
	}
	.s-25 {
		width: grid-calc(3);
		position:static;
	}
	.s-33 {
		width: grid-calc(4);
		position:static;
	}
	.s-50 {
		width: grid-calc(6);
		position:static;
	}
	.s-66 {
		width: grid-calc(8);
		position:static;
	}
	.s-75 {
		width: grid-calc(9);
		position:static;
	}
	.s-100 {
		width: grid-calc(12);
		position:static;
	}
	.grid .grid .s-100 {
		padding-right: 0;
	}
	
	.block-grid {
		&.s-1 li {
			width: grid-calc(12);		
		}
		&.s-2 li {
			width: grid-calc(6);
		}
		&.s-3 li {
			width: grid-calc(4);
		}
		&.s-4 li {
			width: grid-calc(3);
		}
	}
	.s-pull-25 {
		position: relative;
		left: auto;
		right: grid-calc(3);
	}
	.s-pull-33 {
		position: relative;
		left: auto;
		right: grid-calc(4);
	}
	.s-pull-50 {
		position: relative;
		left: auto;
		right: grid-calc(6);
	}
	.s-pull-66 {
		position: relative;
		left: auto;
		right: grid-calc(8);
	}
	.s-pull-75 {
		position: relative;
		left: auto;
		right: grid-calc(9);
	}
	
	.s-push-25 {
		position: relative;
		right: auto;
		left: grid-calc(3);
	}
	.s-push-33 {
		position: relative;
		right: auto;
		left: grid-calc(4);
	}
	.s-push-50 {
		position: relative;
		right: auto;
		left: grid-calc(6);
	}
	.s-push-66 {
		position: relative;
		right: auto;
		left: grid-calc(8);
	}
	.s-push-75 {
		position: relative;
		right: auto;
		left: grid-calc(9);
	}
}