// time to show some information that's more or less importatna than the base window

// background settings
.modal_bg {
	z-index: 1000;
	width: 100vw;
	height: 100vh;
	display: block;
	background: $modal-close-bg;
	position:fixed;
	top:0;
	left:0;
	@include transition;
	&:hover {
		background: $modal-close-hover-bg;
	}
}

// window settings
.modal {
	background: $modal-window-bg;
	z-index: 1001;
	display: block;
	position: fixed;
	top:2rem;
	margin:0 20vw;
	width: 60vw;
	max-height:90vh;
	overflow: scroll;
	@include shadow;
}