// gray scale CSS color names
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Colors!!!
$primary: #4A90E2;
$secondary: #4CC378;
$accent: #50E3C2;
$error: #D0021B;
$success: #64AF0D;
$alert: #FC7D3B;
$note: #4A90E2;
$action:#FC7D3B;
$light-gray: $gainsboro;
$dark-gray: #404D5E;

// Tray colors
$tray-bg:#313A48;
$tray-header-bg:#515E70;
$tray-header-color:#CFDBEA;
$tray-active-bg:#374150;
$tray-active-color:$white;
$tray-toggle-handle:#8495AC;
$tray-toggle-handle-off:$smoke;
$tray-active: #00C0FF;
$tray-complete: $accent;
$tray-color:#8998AD;
$tray-progress-color:$white;

// Font settings
$sans-serif:'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: Georgia, "Times New Roman", Times, serif;
$brand-font: 'Roboto Condensed', sans-serif;
$body-copy:$sans-serif;

// Utility
$global-radius:5px;

// Headings
$h1-font-size:rem-me(32);
$h2-font-size:rem-me(28);
$h3-font-size:rem-me(24);
$h4-font-size:rem-me(20);
$h5-font-size:rem-me(16);
$h6-font-size:rem-me(16);
$heading-color:$dark-gray;
$sub-head-color: $steel;

// Body copy
$body-copy-font-size: 14px;
$body-copy-color: $steel;
$body-copy-font-family: $sans-serif;

// Links
$link-color: $primary;

// Header
$header-bg:#313A48;
$header-height:60px;

// Navigation
$nav-height:$header-height;
$nav-bg:transparent;
$nav-direction:right; // Sets the float for the link
$nav-font-size:$body-copy-font-size;
$nav-font-family:$brand-font;
$nav-padding:20px;
$nav-hover-bg:$primary;
$nav-color:$primary;
$nav-hover-color:$white;
$drop-marker-color:rgba($black, 0.4);
$divider-color:$gainsboro;

// Mega Menu
$mega-menu-bg:$snow;
$mega-menu-link-color:$primary;
$mega-menu-link-hover:$white;
$mega-menu-link-bg:$primary;

//Off Canvas Nav
$nav-break-point:$medium-breakpoint;
$off-canvas-bg:$tuatara;
$off-canvas-link-color:$white;
$off-canvas-drop-bg-color:$white;
$off-canvas-drop-link-color:$primary;
$off-canvas-drop-link-color-hover:$white;

// Buttons
$button-style: gradient;  // flat or gradient
$button-font: $brand-font;
$action-color: #FC7D3B;
$secondary-action-color:$secondary;
$button-color: $primary;
$info-color: $note;
$button-text-color: $white;
$disabled-color: $gainsboro;

$humongous-big-button-size: 20px;
$large-button-size:15px;
$medium-button-size:12px;
$small-button-size:10px;

// Blockquote
$bq-bg: $white;
$bq-text: $serif;
$bq-text-size: 1.5rem;
$bq-color: $steel;

//Forms
$label-font-size: 12px;
$label-font-color:$oil;
$label-focus-font-color:$primary;
$label-complete-font-color:darken(#f5f5f5,20%);
$input-height: 45px; // Basic math is surprisingly difficult in SASS, so leave this value in pixels to calculate the padding and text size accordingly
$input-focus-height: 50px;
$input-bg:$white;
$input-focus-bg:$white;
$input-complete-bg:$white;
$input-font-size: 14px;
$input-border-color:$gainsboro;
$input-border-focus-color:$primary;
$input-border-complete-color:$smoke;
$input-font-color:$oil;
$input-placeholder-color:$jumbo;
$input-placeholder-text-align: right;

// Alerts
$alert-bg:$white;

// Iconic
$icon-primary:$white;
$icon-secondary:$white;

// Modals
$modal-close-bg:rgba($black,0.6);
$modal-close-hover-bg:rgba($black,0.8);
$modal-window-bg:$white;

// Panel
$panel-bg:$white;
$panel-border-color:$gainsboro;

// Tabels
$table-bg: $white;
$table-th-bg:$primary;
$table-th-color:$white;
$table-border-color: $snow;
$table-alt-row: $smoke;

//Pricing Tables
$pricing-table-bg: $white;
$pricing-table-alt-bg:$snow;
$pricing-table-border-color:$gainsboro;
$pricing-table-title-bg:$primary;
$pricing-table-title-color:$white;
$pricing-table-title-font:$brand-font;
$pricing-table-title-size:rem-me(24);
$pricing-table-price-bg:$white;
$pricing-table-price-color:$dark-gray;
$pricing-table-price-size:rem-me(18);
$pricing-table-info-color:$jumbo;
$pricing-table-size:rem-me(15);

// Progress Bar
$progress-height:20px;
$progress-bg:$white;
$progress-border-color:$white;
$progress-border-width:1px;
$progress-complete-color:$accent;
$progress-tick-color:$black;
$progress-tick-height:5px;
$progress-tick-alignment:6px;
$progress-donut-bg:lighten(#313A48,2%);
$progress-donut-complete-color:$accent;

// Tooltips
$tooltip-bg:rgba($black,0.8);
$tooltip-color:$white;
$tooltip-tail-size:6px;

// Range Sliders
$range-handle-height:18px;
$range-handle-width:40px;
$range-handle-border-radius:$global-radius;
$range-handle-color:$primary;
$range-handle-color-active:$secondary;
$range-default-track-bg:$gainsboro;
$range-track-height:5px;
$toggle-handle-off-bg-color:blue;
$range-slider-box-shadow:none;
$range-output-bg:transparent;
$range-output-color:$dark-gray;
$range-output-width:60px;
$range-output-size:14px;
$range-output-border-radius:3px;

// Accordion
$accordion-title-bg:$primary;
$accordion-title-font-size:rem-me(16);
$accordion-title-font-color:$white;
$accordion-title-padding:10px;
$accordion-gutter:15px;

// Slider
$slider-bg:$white;
$slider-slide-bg:$white;
$slider-slide-padding:2rem 6rem;
$slider-button-color:$black;
$slider-button-color-hover:orange;

// Tabs
$tab-bar-bg:$gainsboro;
$tabs-bg:$note;
$tabs-bg-active:$white;
$tabs-color:$black;
$tabs-content-bg:$white;