// Colors!!!
$primary: #1E6F38;
$secondary: #96C93F;
$accent: rgb(224,228,204);
$error: rgb(192,41,66);
$success: rgb(138,155,15);
$alert: rgb(255,144,0);
$note: rgb(69,173,168);

// gray scale CSS color names
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// Font settings
$sans-serif:'HelveticaNeue-Regular', 'Helvetica Neue Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$serif: Georgia, "Times New Roman", Times, serif;
$brand-font:'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$body-copy:$sans-serif;

// Utility
$global-radius:3px;

// Headings
$h1-font-size:rem-me(32);
$h2-font-size:rem-me(28);
$h3-font-size:rem-me(24);
$h4-font-size:rem-me(20);
$h5-font-size:rem-me(16);
$h6-font-size:rem-me(16);
$heading-color:$primary;
$sub-head-color: $steel;

// Body copy
$body-copy-font-size: 14px;
$body-copy-color: $steel;
$body-copy-font-family: $sans-serif;

// Links
$link-color: $primary;

// Header
$header-bg:$white;

// Navigation
$nav-height:70px;
$nav-direction:right; // Sets the float for the link
$nav-font-size:$body-copy-font-size;
$nav-padding:20px;
$nav-hover-bg:$primary;
$nav-color:$primary;
$nav-hover-color:$white;
$drop-marker-color:rgba($black, 0.4);
$divider-color:$gainsboro;

// Mega Menu
$mega-menu-bg:$snow;
$mega-menu-link-color:$primary;
$mega-menu-link-hover:$white;
$mega-menu-link-bg:$primary;

//Off Canvas Nav
$nav-break-point:$medium-breakpoint;
$off-canvas-bg:$tuatara;
$off-canvas-link-color:$white;
$off-canvas-drop-bg-color:$white;
$off-canvas-drop-link-color:$primary;
$off-canvas-drop-link-color-hover:$white;

// Buttons
$action-color: $primary;
$info-color: $secondary;
$button-text-color: $white;
$disabled-color: $gainsboro;

$humongous-big-button-size: 3rem;
$large-button-size:2rem;
$medium-button-size:1.5rem;
$small-button-size:$base-font-size;

// Blockquote
$bq-bg: $white;
$bq-text: $serif;
$bq-text-size: 1.5rem;
$bq-color: $steel;

//Forms
$label-font-size: 18px;
$label-font-color:$oil;
$input-height: 60px; // Basic math is surprisingly difficult in SASS, so leave this value in pixels to calculate the padding and text size accordingly
$input-bg:$white;
$input-focus-bg:darken($input-bg,5%);
$input-border-color:$primary;
$input-border-focus-color:$secondary;
$input-font-color:$oil;
$input-placeholder-color:$jumbo;
$input-placeholder-text-align: right;

// Alerts
$alert-bg:$white;

// Iconic
$icon-primary:$secondary;
$icon-secondary:$accent;

// Modals
$modal-close-bg:rgba($white,0.6);
$modal-close-hover-bg:rgba($white,0.8);
$modal-window-bg:$white;

// Panel
$panel-bg:$white;
$panel-border-color:red;

// Tabels
$table-bg: $white;
$table-th-bg:$primary;
$table-th-color:$white;
$table-border-color: $snow;
$table-alt-row: $smoke;

//Pricing Tables
$pricing-table-bg: $white;
$pricing-table-border-color:#D6D6D6;
$pricing-table-title-bg:$primary;
$pricing-table-title-color:$white;
$pricing-table-title-size:$h4-font-size;
$pricing-table-price-bg:$vapor;
$pricing-table-price-color:$secondary;
$pricing-table-price-size:$h1-font-size;
$pricing-table-info-color:$jumbo;
$pricing-table-size:1rem;

// Progress Bar
$progress-height:20px;
$progress-bg:$white;
$progress-border-color:$white;
$progress-border-width:1px;
$progress-complete-color:$primary;
$progress-tick-color:$black;
$progress-tick-height:5px;
$progress-tick-alignment:6px;
$progress-donut-height:134px;
$progress-donut-border-size:2px;
$progress-donut-bg:$white;
$progress-donut-overlay-bg:$white;
$progress-donut-overlay-height:90px;
$progress-donut-border-color:$gainsboro;
$progress-donut-complete-color:$primary;

// Tooltips
$tooltip-bg:rgba($black,0.8);
$tooltip-color:$white;
$tooltip-tail-size:6px;

// Range Sliders
$range-handle-height:20px;
$range-handle-width:40px;
$range-handle-border-radius:3px;
$range-handle-color:$primary;
$range-handle-color-active:$secondary;
$range-default-track-bg:$black;
$range-track-height:5px;
$toggle-handle-off-bg-color:blue;
$range-slider-box-shadow:none;
$range-output-bg:$black;
$range-output-color:$white;
$range-output-width:60px;
$range-output-size:14px;
$range-output-border-radius:3px;

// Accordion
$accordion-title-bg:$primary;
$accordion-title-font-size:rem-me(16);
$accordion-title-font-color:$white;
$accordion-title-padding:10px;
$accordion-gutter:15px;

// Slider
$slider-bg:$white;
$slider-slide-bg:$white;
$slider-slide-padding:2rem 6rem;
$slider-button-color:$black;
$slider-button-color-hover:orange;