// Tabs
ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    background: $tab-bar-bg;
    li {
        background: $tabs-bg;
        color: $tabs-color;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        &.current{
            background: $tabs-bg-active;
            color: #222;
        }
    }
}

.tab-content{
    display: none;
    background: $tabs-content-bg;
    padding: 15px;
    &.current{
        display: inherit;
    }
}