// Brock Holt Classes

// Text Related
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}


// Not Text Related
.center {
	margin:0 auto;
	display: block;
}
.round {
	border-radius: 1000px;
}
.rounded {
	border-radius:$global-radius;
}



@media (min-width: $medium-breakpoint) {
	.l-show {
		display: block;
	}
	.l-hide {
		display: none;
	}
}

@media (max-width: $medium-breakpoint) {
	.m-show {
		display: block;
	}
	.m-hide {
		display: none;
	}	
}

@media (max-width: $small-breakpoint) {
	.s-show {
		display: block;
	}
	.s-hide {
		display: none;
	}
}


// this has to stay at the bottom of the stylesheet so it doesn't get over written by other styles
.no-show {
	display: none !important;
}