// Brock Holt Classes

// Text Related
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}


// Not Text Related
.center {
	margin:0 auto;
	display: block;
}
.round {
	border-radius: 1000px;
}
.rounded {
	border-radius:$global-radius;
}

.no-show {
	display: none !important;
}