// This value controls all of the rem values in the project.  Change it wisely...
$base-font-size:16px;

@import "reset";
@import "functions";
@import "mixins";

// breakpoint variable between stylesheets
$large-breakpoint: rem-me(1140);
$medium-breakpoint: rem-me(900);
$small-breakpoint: rem-me(600);
$gutter: 30px;

@import "settings";
@import "grid";
@import "typography";
@import "nav";
@import "alerts";
@import "buttons";
@import "forms";
@import "modals";

body {
	background: #D6D6D6 image-url('hindenburg_bg.png') no-repeat center top;
	background-size: 100% auto;
	margin-top: 23rem;
}

.color-me {
	p {
		background: #484848;
		color:white;
		font-size: 20px;
		text-align: center;
		padding:1rem;
		border-radius: 3px;
	}
}

hr {
	margin: 4rem 1rem;
}