// This value controls all of the rem values in the project.  Change it wisely...
$base-font-size:16px;

@import "reset";
@import "functions";
@import "mixins";

// breakpoint variable between stylesheets
$large-breakpoint: rem-me(1140);
$medium-breakpoint: rem-me(900);
$small-breakpoint: rem-me(600);
$gutter: 30px;

@import "settings";
@import "grid";
@import "typography";
@import "nav";
@import "mega-menu";
@import "alerts";
@import "buttons";
@import "forms";
@import "modals";
@import "panel";
@import "tables";
@import "pricing-tables";
@import "progress-bar";
@import "iconic";
@import "tabs";
@import "tooltips";
@import "accordion";
@import "slider";
@import "utility-classes";

body {
	background-size: 100% auto;
	margin-top: 100px;
    background: $oil;
}
header {
	@include shadow;
}

input.invisable {
    border:none;
    text-align: center;
}